:root{
    --primary: rgb(155, 202, 236);
    --bgcolor: rgb(228, 216, 228);
}

.d-inline{
    display: inline-block;
}

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.pos-rel{
    position: relative
}

.pos-abs{
    position: absolute
}

.textalign-cen{
    text-align: center;
}

.bgcolor{
    background-color: var(--bgcolor);
}