body{
    background-color: var(--bgcolor);
    margin: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.header1{
    background-color: rgb(37, 50, 54);
    height: 60px;

}

.header1 h1{
    background-color: aliceblue;
    color: rgb(37, 50, 54);
    font-size: 2rem;
    margin-top: 10px;
    padding: 5px;
}

.header2 p{
    right: 30px;
    top: 40px;
    border-style: hidden;
    background-color: var(--primary);
    padding: 15px;
        
}

.img1{
    height: 100px;
    width: 100%;
}

.img2{
    height: 100px;  
    width: 100px;
    left: 0;
}

nav{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.ul-1 a{
    color: var(--primary);
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    text-decoration-thickness: 2px;
}

.section1{
    flex-direction: column;
    border-style: dashed;
    min-height: 150px;
    margin: 10px;
}

.section1 p{
    line-height: 2rem;
    margin-top: 10px;
    margin-left: 15px;
}

main>div{
    font-size: 2rem;
    margin-top: 10px;   
}


article img{
    height: 150px;
    width: 100%;
}

.article1{
    margin: 10px;
    height: 10rem;
    flex: 45%;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: var(--primary)
}

footer div{
    font-size: 2rem;
    margin-top: 10px;
}

.section2{
    flex-wrap: wrap;
}

#article100{
    flex: 100%;
}

#article100 p{
    bottom: 30px;
    border-style: hidden;
    background-color: var(--primary);
    padding: 15px;
}

.section2 img{
    border-radius: 7px;
}

.work2 p{
    bottom: 30px;
    border-style: hidden;
    background-color: var(--primary);
    padding: 15px;
}

footer li{
    display: inline-block;
    color: rgb(51, 59, 59);
    padding: 10px;
    font-size: 15px;
    text-decoration: underline;
    text-decoration-thickness: 2px ;
}

footer li:hover{
    cursor: pointer;
}

.article1:hover{
    cursor: pointer;
    transform: scale(1.01);
    filter: brightness(90%);
}

@media screen and (max-width: 768x) {
    .article1{
      width: 100%; 
    }
  }